$main-author-prefix: shs;
$border-radius : 5px;
$background-color: #eeeeee;
$margin-main-panel:30px 200px;
$padding-main-panel:30px;
$panel-background:white;
$panel-border-color: #353535;
$panel-border-width: 1px;
$font-family: 'Noto Sans SC', sans-serif;
$main-author-prefix-btn-background:white;


